@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

:root{
    --cor--principal1:#143242;
    --cor--principal2:#286281;
    --cor--principal3:#3B93C1;
    --cor-secundaria1:#3F9DCE;
    --cor--secundaria2:#3380A8;
    --withe:#ffffff;
    --max-width: 1200px;
}

html, body {
    overflow-x: hidden;
}

 .main::before{
position: absolute;
content: "";
inset: 0;
opacity: 1;
background-color: #060604;
z-index: 9;

animation: main-slider 1s ease-in-out forwards;
}

.header-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
   background-color:var(--cor--principal2);
   width: 100%;
   box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.611);
}

.header-box{
    background-color: var(--cor--principal2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    max-width: var(--max-width);
    margin: auto;
}

.logo{
    color: var(--withe);
    font-size: 3rem;
    font-weight: bolder;
    border-bottom: 4px solid palevioletred;
    border-bottom-left-radius: 10px;
}

.logo span{
    font-size: 3rem;
    color: palevioletred;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.link-item{
    margin-left: 4.5rem;
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--withe);
    cursor: pointer;
    border-radius: 12px;
    transition: all .3s ease-in-out;
    border: 2px solid transparent;
}


.link-item:hover{
   background-color: var(--cor--secundaria2);
   border: 2px solid palevioletred;
}

.icons{
    padding: 10px;
    flex-flow: row wrap;
}

.icons a{
    color: var(--withe);
    font-size: 1.3rem;
    margin: 0px 10px;
    cursor: pointer;
    padding: 8px;
    border-radius: 12px;
    border: 2px solid transparent;
    transition: all .3s ease-in-out;
}

.icons a:hover{
    background-color: var(--cor--secundaria2);

    border: 2px solid palevioletred;
}

.menu-toggle{
    font-size: 1.7rem;
    color: var(--withe);
    cursor: pointer;
    display: none;
}

.main{
    background-image: url(img/clark-street-mercantile-P3pI6xzovu0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.main-container{
    margin: auto;
    max-width:var(--max-width) ;
}

.main-box{
    width: 700px;
    background-color: #ffffff;
    padding: 1.1rem;
    border-radius: 11px;
    border: 3px solid var(--cor--principal2);
    box-shadow: 0px 6px 5px 3px rgba(0, 0, 0, 0.51);
}

.main-container h2{
    font-size: 3rem;
    color: #3380A8;
}

.main-container h3{
    color: palevioletred;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.main-container p{
    margin-bottom: 1.5rem;
}

.main-container a{
    background-color: palevioletred;
    padding: .5rem;
    border-radius: 8px;
    font-size: 1.2rem;
    color: var(--withe);
    transition: all .3s ease-in-out;
}

.main-container a:hover{
    background-color: rgb(171, 24, 73);
}

.sobre-nos{
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
}

.foto img{
    display: flex;
    width: 700px;
    border-radius: 12px;
}

.sobre-nos h2{
    text-align: center;
    padding: 2rem 0rem;
    font-size: 2.3rem;
    font-weight: 800;
}

.sobre-nos h2 span{
    color: palevioletred;
}

.sobre-nos .foto{
    display: flex;
}

.foto h3{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.foto p{
    background-color: white;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.foto .texto{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.foto a{
    background-color: palevioletred;
    padding: .5rem;
    border-radius: 8px;
    font-size: 1.2rem;
    color: var(--withe);
    transition: all .3s ease-in-out;
    width: 130px;
    display: inline-flex;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.foto a:hover{
    background-color: rgb(171, 24, 73);
}

.container-produtos{
    max-width: var(--max-width);
    margin: auto;
}

.container-produtos h2{
    text-align: center;
    padding: 2rem 0rem;
    font-size: 2.3rem;
    font-weight: 800;

}

.container-produtos p{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: .7rem;
}

.container-produtos h3{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.container-produtos h2 span{
    color: palevioletred;
}

.container-produtos .produtos{
    padding: 2rem 1.5rem;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   gap: 2rem;
   justify-items: center;
}

.container-produtos .box{
    padding: 1rem;
    width: 285px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.container-produtos .box img{
    display: flex;
    width: 250px;
    border-radius: 12px;
    margin-bottom: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.12);
}

.box button{
    background-color: palevioletred;
    border: none;
    padding: 8px;
    border-radius: 8px;
    color: var(--withe);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.box button:hover{
    background-color: rgb(171, 24, 73);
}

.avaliacoes{
    max-width: var(--max-width);
    margin: auto;
    padding: 2.5rem;
}

.avaliacoes h2{
    text-align: center;
    padding: 2rem 0rem;
    font-size: 2.3rem;
    font-weight: 800;
}

.avaliacoes h2 span{
    color: palevioletred;
}

.avaliacoes .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.avaliacoes .box-container .box{
    flex: 1 1 20rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.444);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
    border: 1rem solid rgba(0,0,0,.1);
}

.avaliacoes .box-container .box .fa-quote-right{
    position: absolute;
    bottom: 49px;
    right: 3px;
    font-size: 2rem;
    color: palevioletred;
    
}

.avaliacoes .box-container .box .stars {
    color: palevioletred;
    font-size: 2rem;
}

.avaliacoes .box-container .box  p{
    line-height: 1.5;
    padding-top: 2rem;
}

.avaliacoes .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;

}

.avaliacoes .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.avaliacoes .box-container .box .user h3{
    font-size: 2rem;
}

.avaliacoes .box-container .box .user span{
    font-size: 1.5rem;
}

.contatos{
    max-width: var(--max-width);
    margin: auto;
    padding: 2.5rem;
}

.contatos h2{
    text-align: center;
    padding: 2rem 0rem;
    font-size: 2.3rem;
    font-weight: 800;
}

.contatos h2 span{
    color: palevioletred;
}

.contatos .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contatos .row form{
    max-width: 600px;
    margin: auto;
    flex: 1 1 40rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.contatos .row form input{
    padding: 10px;
    border-radius: 12px;
    border: 2px solid transparent;
    outline: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: all .3s ease-in-out;
}

.contatos .row form input:hover{
    box-shadow:  0px 1px 8px 1px palevioletred;
}

.contatos .row form  textarea{
    border: 2px solid transparent;
    outline: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: all .3s ease-in-out;
}

.contatos .row form textarea:hover{
    box-shadow:  0px 1px 8px 1px palevioletred;
}

.contatos .row form .btn{
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
}

.contatos .row form .box{
    margin-bottom: 1rem;
}

footer{
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem;
}

footer .rodape{
    text-align: center;
    font-size: 1.2rem;
}

footer .rodape a{
    color: palevioletred;
    transition: all .3s ease-in-out;
}

footer .rodape a:hover{
    color: rgb(111, 50, 71);
}

@media (max-width: 820px){
    .nav-links{
        transition: transform .5s ease-in-out;
        transform: translateX(-100%);
        display: flex;
        flex-direction: column;
        background-color: #3b92c16f;
        backdrop-filter: blur(10px);
        position: absolute;
        z-index: 99;
        top: 108px;
        width: 100%;
        left: 0;
        right: 0;
    }

    .link-item{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
        border-radius: 0px;
        width: 100%;
        height: 60px;
    }

    .link-item:hover{
        border: none;
        background-color: #337fa864;
    }


    .menu-toggle{
        display: block;
    }

    .mobile-menu{
    transform:  translateX(0);
    }

    .logo{
        font-size: 2.5rem;
    }

    .header-box{
        display: flex;
    }

    .icons{
        display: block;
        width: 43%;
    }

    .main-box{
        width: 550px ;
    }

    .main-container h2{
        font-size: 2.5rem;
    }

    .main-container h3{
        font-size: 1.3rem;
    }

    .container-produtos .produtos{
        grid-template-columns: 1fr 1fr;
    }

    .foto{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .foto h3{
        text-align: center;
    }

    .texto a{
       align-self: center;
    }

    .foto img{
        display: flex;
        width: 400px;
        height: 400px;
    }

    .sobre-nos{
        padding: 0rem 2rem;
    }

    .avaliacoes .box-container{
        flex-wrap: wrap;
        justify-content: center;
    }

    .avaliacoes .box-container .box{
        flex: 1 1 45%;
        max-width: 45%;
        margin-bottom: 1rem;
    }
}

@media (max-width: 420px){
    .header-container{
        position: static;
        width: 100%;
    }
    
    .container-produtos .produtos{
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 1rem;
    }

    .container-produtos .produtos .box{
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }

    .container-produtos .box img{
        width: 100%;
        hyphens: auto;
    }

    .main-box{
        width: 90%;
        margin: auto;
        text-align: center;
    }


    .foto img{
        width: 90%;
        height: auto;
    }

    .contatos .row{
        width: 100%;
        max-width: 100%;
    }

    .contatos .row form input,
    .contatos .row form textarea{
        max-width: 100%;
    }

    .avaliacoes .box-container{
        flex-direction: column;
        gap: 1rem;
        padding: 0 1rem;
    }

    .avaliacoes .box-container .box{
        flex: 1 1 100%;
        max-width: 100%;
        padding: 1.5rem;
    }

    .avaliacoes .box-container .box{
        font-size: 1rem;
    }

    .avaliacoes .box-container .box .user img{
        width: 50px;
        height: 50px;
    }

    .avaliacoes .box-container .box .user h3{
        font-size: 1rem;
    }

    .avaliacoes .box-container .box .user span{
        font-size: 0.9rem;
    }

    .contatos .row form .btn{
        font-size: .8rem;
        width: 100%;
    }
}

@keyframes main-slider{
    90%{
        opacity: 0;
        transform: translateX(0);
    }

    100%{
        opacity: 0;
        transform: translateX(-100%);
    }
}